In [3]:
import pandas as pd
data={
    'first name':['aryan','rohan','priya','yash','siddanth'],
    'last name':['singh','agarwal','shah','bhatie','khanna'],
    'type':['full-time employee','interm','full-time employee','part-time employee','full-time employee'],
    'department':['administration','technical','administration','technical','manaagement'],
    'YOE':[2,3,5,7,6],
    'salary':[20000,5000,10000,10000,20000]
}
df=pd.DataFrame(data)
print(df)

  first name last name                type      department  YOE  salary
0      aryan     singh  full-time employee  administration    2   20000
1      rohan   agarwal              interm       technical    3    5000
2      priya      shah  full-time employee  administration    5   10000
3       yash    bhatie  part-time employee       technical    7   10000
4   siddanth    khanna  full-time employee     manaagement    6   20000

In [17]:
table=pd.pivot_table(df,index=['type','department',],values='salary',aggfunc='mean')
print(table)

                                   salary
type               department
full-time employee administration   15000
                   manaagement      20000
interm             technical         5000
part-time employee technical        10000

In [22]:
pivot=pd.pivot_table(
data=df,
index='type',
values='salary'),
aggfunc=['mean','sum']
print(pivot)

(                          salary
type
full-time employee  16666.666667
interm               5000.000000
part-time employee  10000.000000,)

In [28]:
df.pivot_table(index='type',values='salary',aggfunc='sum')

                    salary
type
full-time employee   50000
interm                5000
part-time employee   10000